body {
  background-color: #F4F2F1;
  color: #339966;
  font-family: Calibri, 'Trebuchet MS', sans-serif
}

h1 {
  text-align: center;
}

main {
  text-align: center;
}

form label, form input {
  background-color: #1D7B47;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 1em;
  height: auto;
}

form label:hover, form input:hover {
  background-color: #339966;
  color: #FFFFFF;
}

form label:active, form input:active {
  background-color: #8CD9AF;
  color: #FFFFFF;
}

#csv, #download {
  display: none;
}

#report {
  white-space: pre;
}


a:link {
  color: #8CD9AF;
}

a:visited {
  color: #1D7B47;
}

a:hover {
  color: #8CD9AF;
}

a:active {
  color: #1D7B47;
}